@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
.rwd-table {
  min-width: 300px;
  margin-top:18px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.percent-change{
	margin-left:3px;
	font-size:8px;
}
.rwd-table th {
  background-color: #B31F24;
  text-align:center;
}
.rwd-table td {
  display: block;
}
.white-bg-1
{
	background-color:white;
}
.td-row
{
	background-color:white;
	width:.1em;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}

 .rwd-table td {
  text-align: center;
}

@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

table {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  /*color: #444;
  background: #eee;*/
}

h1 {
  font-weight: bold;
  letter-spacing: -0.5px;
  color: #34495E;
}

.rwd-table {

  color: black;
  border-radius: .1em;
  overflow: hidden;
}
.rwd-table tr:nth-of-type(even)
{
	background-color:#ecf0f1;
}
.global-input
{
	width:40px;
	text-align:right;
}
.td-none
{
	background-color:white;
}

.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
.rwd-table th, .rwd-table td {
  border: 1px solid white;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: white;
}
.rwd-table {
  font-size: 13px;
}
#budgetmetrics {
  margin-top:40px;
  background-color: white;
}
.texthead {
  padding: 20px 0px 0px 50px;
}
